<!doctype html>
<html>
<!--head-->
<% include ./partials/head.ejs %>
<body>
<!--js scripts-->
<script type="text/javascript">
    // allow only number input
    function isNumber(evt)
    {
        evt = (evt) ? evt : window.event
        var charCode = (evt.which) ? evt.which : evt.keyCode
        return !(charCode > 31 && (charCode < 48 || charCode > 57))

    }
</script>

<!--navbar-->
<% include ./partials/navbar.ejs %>

<!--main container-->w
<div class="w3-container w3-padding-64 w3-third w3-display-topmiddle" id="container">
    <!--flash message-->
    <% include ./partials/flash_message.ejs %>

    <!--form-->
    <form action="/add_room" method="post"
          class="w3-container w3-padding w3-light-grey w3-round w3-border w3-card-4" id="form">
        <h2>Add Room</h2>

        <label>Room Name<span class="w3-text-red">*</span></label>
        <label>
            <input type="text" class="w3-input w3-border w3-round" name="name" required maxlength="10" minlength="4">
        </label>

        <label>Capacity<span class="w3-text-red">*</span></label>
        <label>
            <input type="number" class="w3-input w3-border w3-round" name="capacity" required
                   onkeypress="return isNumber(event)" min="20" max="1000">
        </label>

        <br>

        <button type="submit" class="w3-btn w3-round w3-blue">Add Room</button>
    </form>
</div>
</body>
</html>