<!DOCTYPE html>
<html>
<!--head-->
<% include ./partials/head.ejs %>
<body>
<!--navbar-->
<% include ./partials/navbar.ejs %>

<!--main container-->
<div class="w3-container w3-padding-64" id="container">

</div>
</body>
</html>