<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head.ejs %>
</head>
<body>
<!--navbar-->
<header>
    <% include ./partials/navbar.ejs %>
</header>

<!--main container-->
<div class="w3-container w3-padding-64" id="container">

</div>
</body>
</html>