<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>BMU : <%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/stylesheets/w3.css">
</head>
<body>
<div class="w3-container w3-padding-64 w3-third w3-display-topmiddle">
    <form action="/login" method="post" class="w3-container w3-padding-16 w3-light-grey w3-round w3-border">
        <h2>Login</h2>
        <br>
        <label>Username</label>
            <input type="text" class="w3-input w3-border w3-round" name="username">
        </label>
        <br>
        <label>Password</label>
        <label>
            <input type="password" class="w3-input w3-border w3-round" name="password">
        </label>
        <label>
            <input type="checkbox" name="remember" value="yes" class="w3-check">
        </label>
        <label>Remember Me</label>
        <br><br>
        <button type="submit" class="w3-btn w3-large w3-blue w3-round">Login</button>
    </form>
    <% if (message.length > 0) { %>
    <div class="w3-panel w3-red w3-card w3-padding-16 w3-display-container">
        <span onclick="this.parentElement.style.display='none'"
              class="w3-button w3-display-topright w3-hov">&times;</span>
        <%= message %>
    </div>
    <% } %>
</div>
</body>
</html>