<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head.ejs %>
</head>
<body>
<!--navbar-->
<header>
    <% include ./partials/navbar.ejs %>
</header>

<!--main container-->
<div class="w3-container w3-padding-64 w3-display-topmiddle" id="container" style="display: inline-block">
    <div class="w3-responsive">
        <table class="w3-table w3-bordered">
            <tr>
                <th class="w3-border-right">Subject</th>
                <th class="w3-border-right">Batch</th>
                <th class="w3-border-right">Course</th>
                <th>Stream</th>
            </tr>
            <% for(i = 0; i < subjects.length; i++) {
                var curSub = subjects[i] %>
            <tr>
                <td class="w3-border-right"><%= curSub.name %></td>
                <td class="w3-border-right"><%= curSub.batch %></td>
                <td class="w3-border-right"><%= curSub.course %></td>
                <td><%= curSub.stream %></td>
            </tr>
            <% } %>
        </table>
    </div>
</div>
</body>
</html>